fastapi
uvicorn
pandas
numpy
scipy
factor_analyzer==0.5.1
scikit-learn<1.6.0
python-docx
pydantic
python-dotenv
requests
PyPDF2
openpyxl
xlsxwriter
pyreadstat
python-multipart
python-magic-bin; platform_system == 'Windows'
python-magic; platform_system != 'Windows'
